<% if @stock.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@stock.errors.count, "error") %> prohibited
      this transaction:
    </h2>
    <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  Symbol:
  <%= @sym %>
</p>

<p>
  Quantity to Purchase:
  <%= @qty %>
</p>

<p>
  Price per Share at Open:
  $<%= @av_open %>
</p>

<p>
  Current Price per Share:
  <% if @av_price > @av_open %>
    <font class=posText> $<%= @av_price %> </font>
  <% elsif @av_price < @av_open %>
    <font class=negText> $<%= @av_price %> </font>
  <% else %>
    <font class=neutText> $<%= @av_price %> </font>
  <% end %>
</p>

<p>
  Current Total Price:
  <% if @av_price > @av_open %>
    <font class=posText> $<%= @av_price*@qty %> </font>
  <% elsif @av_price < @av_open %>
    <font class=negText> $<%= @av_price*@qty %> </font>
  <% else %>
    <font class=neutText> $<%= @av_price*@qty %> </font>
  <% end %>
</p>

<p>
  Your Current Balance:
  $<%= current_user.balance %>
</p>

<p>
  Approximate Balance After Transaction:
  $<%= current_user.balance-@av_price*@qty %>
</p>

<p>
  <strong>Do you want to buy <%= @qty %> shares of <%= @sym %> for approximately $<%= @av_price*@qty %>? (Prices may fluctuate in the time it takes to confirm.)</strong>
</p>

<%= form_with scope: :stock, url: stocks_path, local: true do |form| %>
  <%= hidden_field_tag "stock[symbol]", "#{@sym}" %>
  <%= hidden_field_tag "stock[quantity]", "#{@qty}" %>
  <p>
    <%= form.submit 'Yes, do it!' %>
  </p>
<% end %>

<a class="nav-link"><%= link_to "No, I want to look at other stocks.", manage_path %></a>
