<h1>Buy Stocks</h1>
<div class="row">
  <div class="col-12 col-md-8">Portfolio</div>
  <div class="col-6 col-md-4">
    <%= form_tag("/stocks") do %>
      <%= label_tag(:symbol, "Stock Symbol:") %>
      <%= text_field_tag(:symbol) %>
      <%= label_tag(:qty, "Quantity:") %>
      <%= number_field_tag(:qty) %>
      <%= submit_tag("Submit") %>
    <% end %>
  </div>
</div>
