<h1>Buy Stocks</h1>
<div class="row">
  <div class="col-12 col-md-8">
    <strong>Portfolio:</strong>
    <%= current_user.stocks.size %>
    <table>
      <tr>
        <th>Symbol</th>
        <th>QTY</th>
        <th></th>
      </tr>

      <% current_user.stocks.each do |stock| %>
        <% if not stock.errors.any? %>
          <tr>
            <td><%= stock.symbol %></td>
            <td><%= stock.quantity %></td>
            <td><%= link_to 'More Info', stock_path(stock) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <div class="col-6 col-md-4">
    Buy Stocks
    <p>
      <strong>Balance:</strong>
      <%= current_user.balance %>
    </p>
    <%= form_with scope: :stock, url: stocks_path, local: true do |form| %>
    <% if @stock.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@stock.errors.count, "error") %> prohibited
          this transaction:
        </h2>
        <ul>
          <% @stock.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= form.label :symbol %><br>
      <%= form.text_field :symbol %>
    </p>
    <p>
      <%= form.label :quantity %><br>
      <%= form.number_field :quantity %>
    </p>
    <p>
      <%= form.submit %>
    </p>
    <% end %>
  </div>
</div>
