<% if @stock.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@stock.errors.count, "error") %> occurred:
    </h2>
    <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-12 col-md-8">
    <h1>Portfolio</h1>
    <table>
      <tr>
        <th>Symbol</th>
        <th>QTY</th>
        <th>Price per Share</th>
        <th>Last Updated</th>
        <th></th>
      </tr>

      <% current_user.stocks.each do |stock| %>
        <% if not stock.errors.any? %>
          <tr>
            <td><%= stock.symbol %></td>
            <td><%= stock.quantity %></td>
            <% if stock.open_price != nil %>
              <% if stock.share_price > stock.open_price %>
                <td class="posText"><%= stock.share_price %></td>
              <% elsif stock.share_price < stock.open_price %>
                <td class="negText"><%= stock.share_price %></td>
              <% else %>
                <td class="neutText"><%= stock.share_price %></td>
              <% end %>
            <% else %>
              <td class="neutText"><%= stock.share_price %></td>
            <% end %>
            <td><%= stock.last_updated %></td>
            <td><%= link_to 'More Info', stock_path(stock) %></td>
          </tr>
        <% end %>
      <% end %>
    </table><br>
    <p> <%= link_to "Refresh Stock Data", manage_path %> </p><br>
    <h2>
      Current Balance:
      <%= current_user.balance %>
    </h2>
  </div>
  <div class="col-6 col-md-4">
    <h1>Manage Stocks</h1>
    <h2>Buy Stocks</h2>
    <%= form_with scope: :stock, url: {action: 'confirm'}, local: true do |form| %>

    <p>
      <%= form.label :symbol %><br>
      <%= form.text_field :symbol %>
    </p>
    <p>
      <%= form.label :quantity %><br>
      <%= form.number_field :quantity %>
    </p>
    <p>
      <%= form.submit 'Buy' %><br>
    </p>
    <% end %>

    <br><h2>Sell Stocks</h2>
    <%= form_with scope: :stock, url: {action: 'sellconfirm'}, local: true do |form| %>
    <p>
      <%= form.label :symbol %><br>
      <%= form.text_field :symbol %>
    </p>
    <p>
      <%= form.label :quantity %><br>
      <%= form.number_field :quantity %>
    </p>
    <p>
      <%= form.submit 'Sell' %>
    </p>
    <% end %>
  </div>
</div>
