<% if @stock.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@stock.errors.count, "error") %> occurred:
    </h2>
    <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock.quantity %>
</p>

<p>
  <strong>Price per Share at Open:</strong>
  $<%= @stock.open_price %>
</p>

<p>
  <strong>Current Price per Share:</strong>
  <% if @stock.share_price > @stock.open_price %>
    <font class=posText> $<%= @stock.share_price %> </font>
  <% elsif @stock.share_price < @stock.open_price %>
    <font class=negText>  $<%= @stock.share_price %> </font>
  <% else %>
    <font class=neutText>  $<%= @stock.share_price %> </font>
  <% end %>
</p>

<p>
  <strong>Current Total Price:</strong>
  <% if @stock.share_price > @stock.open_price %>
    <font class=posText>  $<%= @stock.share_price*@stock.quantity %> </font>
  <% elsif @stock.share_price < @stock.open_price %>
    <font class=negText>  $<%= @stock.share_price*@stock.quantity %> </font>
  <% else %>
    <font class=neutText> $<%= @stock.share_price*@stock.quantity %> </font>
  <% end %>
</p>

<p> <%= link_to "Refresh Stock Data", stock_path, method: :put, id: @stock.id %> </p>
<p> <%= link_to "Back to Manage Stocks", manage_path %></p>
