<h1>Transaction History</h1>

<table>
  <tr>
    <th></th>
    <th>Symbol</th>
    <th>Quantity</th>
    <th>Price Per Share</th>
    <th>Total Price</th>
    <th>Time of Transaction</th>
  </tr>
  <% current_user.transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.buyorsell %></td>
      <td><%= transaction.symbol %></td>
      <td><%= transaction.quantity %></td>
      <td><%= transaction.price %></td>
      <td><%= transaction.price*transaction.quantity %></td>
      <td><%= transaction.time %></td>
    </tr>
  <% end %>
</table>
