<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Stock Portfolio", root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Transactions", root_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Login", new_user_session_path, method: :get %></li>
      </ul>
    </nav>
  </div>
</header>
